<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ninja.PanicHelper"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:debuggable="true">
        <activity android:name="MainActivity"
                  android:theme="@style/PanicHelperTheme" > >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.speech.RecognitionService" />
                <action android:name="android.intent.action.CALL"/>
            </intent-filter>
        </activity>
        <activity android:name="safety.measures.MainAlarm"
                  android:label="@string/app_name"
                  android:launchMode="singleTask"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".ContactActivity"
                  android:label="Create Contact"
                  android:launchMode="singleTask"
                  android:theme="@style/PanicHelperTheme">
        </activity>

        <service android:enabled="true" android:name="detectors.Accelerometer"/>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />


</manifest>
